{% extends 'account/base.html' %}
{% load static %}

{% block extratitle %}<title>Register</title>{% endblock %}
{% block extrahead %}{% endblock %}
{% block content %}
<body class="bg-gradient-primary">

 <div class="container">

  <div class="row justify-content-center">
   <div class="col-xl-10 col-lg-12 col-md-9">
      <div class="card o-hidden border-0 shadow-lg my-5">
     <div class="card-body p-0">
      <!-- Nested Row within Card Body -->
      <div class="row">
       <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
       <div class="col-lg-7">
        <div class="p-5">
         <div class="text-center">
          <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
         </div>
         <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form.errors }}
          <div class="form-group row">
           <div class="col">
            {{ form.first_name }}
           </div>
           <div class="col">
            {{ form.last_name }}
           </div>
          </div>
          <div class="form-group row">
           <div class="col">
            {{ form.username }}
           </div>
         </div>
         <div class="form-group row">
           <div class="col">
            {{ form.email }}
           </div>
         </div>
          <div class="form-group row">
           <div class="col">
            {{ form.password1 }}
           </div>
           <div class="col">
            {{ form.password2 }}
           </div>
          </div>
          <button type="submit" class="btn btn-primary btn-user btn-block">
           Register Account
          </button>
          <hr>
          <a href="#" class="btn btn-google btn-user btn-block">
           <i class="fab fa-google fa-fw"></i> Register with Google
          </a>
          <a href="#" class="btn btn-facebook btn-user btn-block">
           <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
          </a>
         </form>
         <hr>
         <div class="text-center">
          <a class="small" href="#">Forgot Password?</a>
         </div>
         <div class="text-center">
          <a class="small" href="{% url 'keny:user_login' %}">Already have an account? Login!</a>
         </div>
        </div>
       </div>
      </div>
     </div>
      </div>
    </div>
  </div>

 </div>
 {% block extrabody %}{% endblock %}
</body>
{% endblock %}